body {
    background-image: url("images/background1.jpg");
    background-size: 1980px 1080px;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Fascinate', cursive;
}

form {
    text-align: center
}

h3 {
    text-align: center;
    color: rebeccapurple;
}

li {
    text-align: center;
}

#un_list {
    list-style: none;
}

#ol_list {
    list-style: none;
}

p {
    text-align: center;
    color: rebeccapurple;
}
